.contact .content{
  max-width: 800px;
  text-align: center;
}
.contact .content h2{
  font-weight: 500;
  color: #fff;
}
.contact .content p{
  font-weight: 300;
  color: #fff;
}
.container .contactInfo{
  width: 40%;
  display: flex;
  flex-direction: column;
}
.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}
.container .contactInfo .box .icon{
  min-width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
}
.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}
.container .contactInfo .box .text h3{
  font-weight: 500;
  color: #000;
}
@media (max-width: 768px){
  .contact{
    padding: 50px;
  }
  .contactForm{
    width: 100%;
  }
  .container{
    flex-direction: column;
  }
  .container .contactInfo{
    margin-bottom: 40px;
    width: 100%;
  }
}

@media (max-width: 480px) {
  body{
    width: 50vh;
  }
}