@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #FAFAFA;
  --color-text: #333333;
  --color-header-bg: #EAEAEA;
  --color-button-bg: #D1D1D1;
}

[data-theme='dark'] {
  --color-background: #282c34;
  --color-text: #FAFAFA;
  --color-header-bg: #20232a;
  --color-button-bg: #444444;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.app-container {
  text-align: center;
}s

.header {
  background-color: var(--color-header-bg);
  padding: 20px;
  margin-bottom: 2rem;
  transition: background-color 0.3s ease;
}

.content-container {
  padding: 20px;
}

.theme-switcher-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--color-button-bg);
  border: 1px solid var(--color-text);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-icon {
  width: 24px;
  height: 24px;
}